.modal {
  top: 10%;
  backdrop-filter: blur(0.5rem);
}

.modal-header {
  padding: 0;
  border: none;

  &__image {
    width: 100%;
    height: auto;
  }
}

.close {
  font-size: 5rem;
  position: absolute;
  color: var(--color-white);
  opacity: 0.9;
}
